<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态组件与 v-once指令</title>
    <script src='./vue.js'></script>
</head>
    <body>

        <div id="app">
                <!-- 动态组件，根据type找到对应的组件 -->
                <component :is="type"></component>
                <!-- v-if 是一个创建和销毁的方法，本质比较耗费性能，如果是静态资源的话，就没必要，
                    这个时候可以在子组件的加属性v-once，这个表示把子组件的内容放到内存中了 -->
                 <!-- <counter1 v-if="type === 'counter1'"></counter1>
                 <counter2 v-if="type === 'counter2'"></counter2> -->
                 <button @click="handlerChange">change</div>
        </div>
        


        <script>
          
            var counter1 = {
                template: '<div v-once>hello-1</div>'
            }
            var counter2 = {
               
                template: '<div v-once>hello-2</div>'
            }


            var vm = new Vue({
                el: '#app',
                data: {
                    type: 'counter1'
                },
                components: {
                    counter1: counter1,
                    counter2: counter2
                },
                methods: {
                    handlerChange: function() {
                        this.type = this.type == 'counter1' ? 'counter2' : 'counter1';
                    }
                }
        
            })

            /*
            jq: m-模型层(接口交互))、v-视图层(html)、p-控制器(js代码)  mvp模式
            
            vue: m-(vue代码) v-(html) vm-(vue就是一个vm层，自动实现)) 即 mv vm模式

            vue减少了dom的操作，可以减少代码量，编程的时候只关注数据层就好了



            v-model 双向数据绑定（只用于表单）

            v-on 绑定事件 可用@代替

            v-for 遍历数据
            
            */

        </script>
    </body>

</html>