<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue中的列表渲染</title>
    <script src='./vue.js'></script>
</head>
    <body>
       
        <!-- 循环多个标签，如果外层不想用 div包着，可以使用 <template> 标签替代，它在循环的时候不会自己出现 -->
    <div id="app">
        <div  v-for="item of list">
            <div>{{item}}</div>
            <div>{{item}}</div>
        </div>
        <template id="app" v-for="item of list">
                <div>{{item}}</div>
                <div>{{item}}</div>
        </template>
        <!-- 循环对象 item-value，key-即是key值， index-下标
            如果修改某个value，可以直接修改，页面会跟着变
            如果需要增加，则需要 改变引用：
            userInfo={
                        name: "xm",
                        age: 12,
                        gender: "aa"
                    }

            或者通过set方法：
                    Vue.set(vm.userInfo, "gender", "aa")
                    或
                     vm.$set(vm.userInfo, "gender", "aa")
                     都是一样的。
        
        -->
        <div v-for="(item, key, index) of userInfo">
            {{item}}--{{key}}--{{index}}

        </div>


    </div>

        


        
        


        <script>

            /*
                如果需要修改数组中某个元素，不能通过下标直接修改如：
                list[1]="aaa",数组会修改成功，但是页面呈现不会改变
                需要用其他的方法来实现：
                list.splice(1, 1, "aaa") 既可以修改成功，页面也会修改

                还有一种是改变引用如： list=["aaa", "bbbb"],也可以

                或者通过set方法：
                    Vue.set(vm.list, 1, "aa")
                    或
                     vm.$set(vm.list, 1, "aa")
                     都是一样的。

                set方法更像是一个万能的方法

                数组常用函数：
                push(放) pop(删除数据最后一项) shift(删除数组第一项)  unshift(数组第一项加内容) 
                splice （截取）
                sore（排序） reverse（反转）



            
            */
            var vm = new Vue({
                el: '#app',
                data: {
                    list: ["one", "two", "three"],
                    userInfo: {
                        name: "xm",
                        age: 12
                    }
                }
            })

            /*
            jq: m-模型层(接口交互))、v-视图层(html)、p-控制器(js代码)  mvp模式
            
            vue: m-(vue代码) v-(html) vm-(vue就是一个vm层，自动实现)) 即 mv vm模式

            vue减少了dom的操作，可以减少代码量，编程的时候只关注数据层就好了



            v-model 双向数据绑定（只用于表单）

            v-on 绑定事件 可用@代替

            v-for 遍历数据
            v-bind 属性绑定（单向） 可用:代替
            v-if 判断是否显示,内容是vm中的数据，可以是表达式：isShow === 'a'
            v-else-if 配合使用，中间不能有其他类型标签
             v-else 配合使用，中间不能有其他类型标签
            */

        </script>
    </body>

</html>